In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('googleplaystore (1).csv')

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.drop('App',axis=1,inplace=True)

In [5]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [6]:
df['Category'].value_counts()

FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: Category, dtype: int64

In [7]:
df.isna().sum()

Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [8]:
df.dtypes

Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [9]:
df.drop(['Genres','Android Ver'],axis=1,inplace=True)

In [10]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,"January 7, 2018",1.0.0
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,"January 15, 2018",2.0.0
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,"August 1, 2018",1.2.4
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,"June 8, 2018",Varies with device
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,"June 20, 2018",1.1

In [11]:
df['Type'].value_counts()

Free    10039
Paid      800
0           1
Name: Type, dtype: int64

In [12]:
df.drop('Price',axis=1,inplace=True)

In [13]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: 0 if x=='Teen' else 1)

In [14]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Last Updated,Current Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,1,"January 7, 2018",1.0.0
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,1,"January 15, 2018",2.0.0
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,1,"August 1, 2018",1.2.4
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,"June 8, 2018",Varies with device
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,1,"June 20, 2018",1.1

In [15]:
df['Content Rating'].value_counts()

1    9633
0    1208
Name: Content Rating, dtype: int64

In [16]:
df['Type'].replace({'Free':1, 'Paid':2, '0':3}, inplace=True)

In [17]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Last Updated,Current Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",1.0,1,"January 7, 2018",1.0.0
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",1.0,1,"January 15, 2018",2.0.0
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",1.0,1,"August 1, 2018",1.2.4
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",1.0,0,"June 8, 2018",Varies with device
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",1.0,1,"June 20, 2018",1.1

In [22]:
missing=df['Rating'].mean()
missing

4.193338315362448

In [23]:
df['Rating']=df['Rating'].fillna(missing)

In [25]:
df.isna().sum()

Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Content Rating    0
Last Updated      0
Current Ver       8
dtype: int64

In [28]:
df['Size']=df['Size'].apply(lambda x: x.replace('M',''))

In [29]:
df

,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Last Updated,Current Ver
0,ART_AND_DESIGN,4.100000,159,190,"10,000+",1.0,1,"January 7, 2018",1.0.0
1,ART_AND_DESIGN,3.900000,967,140,"500,000+",1.0,1,"January 15, 2018",2.0.0
2,ART_AND_DESIGN,4.700000,87510,8.70,"5,000,000+",1.0,1,"August 1, 2018",1.2.4
3,ART_AND_DESIGN,4.500000,215644,250,"50,000,000+",1.0,0,"June 8, 2018",Varies with device
4,ART_AND_DESIGN,4.300000,967,2.80,"100,000+",1.0,1,"June 20, 2018",1.1
...,...,...,...,...,...,...,...,...,...
10836,FAMILY,4.500000,38,530,"5,000+",1.0,1,"July 25, 2017",1.48
10837,FAMILY,5.000000,4,3.60,100+,1.0,1,"July 6, 2018",1.0
10838,MEDICAL,4.193338,3,9.50,"1,000+",1.0,1,"January 20, 2017",1.0
10839,BOOKS_AND_REFERENCE,4.500000,114,Varies with device,"1,000+",1.0,1,"January 19, 2015",Varies with device
10840,LIFESTYLE,4.500000,398307,190,"10,000,000+",1.0,1,"July 25, 2018",Varies with device

In [39]:
df["Last Updated"]

0         January 7, 2018
1        January 15, 2018
2          August 1, 2018
3            June 8, 2018
4           June 20, 2018
               ...
10836       July 25, 2017
10837        July 6, 2018
10838    January 20, 2017
10839    January 19, 2015
10840       July 25, 2018
Name: Last Updated, Length: 10841, dtype: object

In [43]:
date_sr = pd.to_datetime(df['Last Updated'])
change_format = date_sr.dt.strftime('%d,%m,%Y')

ValueError: day is out of range for month